repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.6
  hooks:
    - id: ruff-check
      args: [ --fix, --exit-non-zero-on-fix ]
      stages: [ pre-commit ]
- repo: https://github.com/golangci/golangci-lint
  rev: v2.6.2
  hooks:
    - id: golangci-lint
      stages: [ pre-commit ]
- repo: https://github.com/LiquidFun/aoc_tiles
  rev: 0.6.3
  hooks:
    - id: aoc-tiles
      args: [ --auto-add-tiles-to-git=amend ]
      stages: [ post-commit ]